@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f9;
  position: relative;
  width: 100%;
  margin: 0;
}

nav {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  margin: top 0;
  width: 100%;
  position: sticky;
  padding: 0 24px;
  z-index: 2;
  background-color: #fff;
}

section {
  background-color: #fff;
  padding: 0%;
  margin: 0%;
}

section > * {
  font-family: 'Inter', sans-serif;
}

i {
  position: absolute;
  left: 85.67%;
  right: 16.67%;
  top: 29.17%;
}

ul {
  display: flex;
  justify-content: center;
  order: 3;
  gap: 7px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 30px;
  line-height: 108%;
  text-align: center;
  display: flex;
  color: #172b4d;
}

section p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

section h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.green {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #36b37e;
  justify-content: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #172b4d;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
}

.headline {
  background-image: url(icons/background.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin-top: 10%;
  position: relative;
  width: 5%;
  height: 5%;
  left: calc(50% - 40px / 2 + 0.5px);
  background: #fff;
  border-radius: 32px;
}

.next img {
  margin: 0;
  padding: 0;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 15px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: 70%;
  background: none;
  color: #505f79;
}

.fa-medium {
  animation: none;
}
/* Add a hover effect*/
.fa:hover {
  opacity: 0.7;
}

/* Twitter */
.fa-twitter {
  background: none;
  color: #505f79;
}

.fa-medium {
  background: none;
  color: #505f79;
}

.contact img {
  height: 12.88px;
  padding: 20px;
  width: 10px;
  border-radius: 0%;
  margin: 25px;
}

.works {
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
  grid-template-rows: auto auto auto auto auto auto;
}

.works h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  order: inherit;
  margin-left: 10%;
}

hr {
  width: 13%;
  height: 4px;
  text-align: center;
  position: relative;
  order: inherit;
  background: #36b37e;
  border-radius: 24px;
  top: 1px;
}

.container1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.img-placeholder {
  background: #ebf0ee;
}

.text {
  border: 1px solid #d0d9d4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text ul {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-left: 0;
}

.text ul li {
  height: 30px;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  padding-top: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #3a4a42;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 122px;
  height: 40px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  border: none;
  top: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.containera {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerb {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerc {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerd {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containere {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
}

.about p {
  font-family: 'Inter', sans-serif;
  width: 351px;
  height: 194px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  position: absolute;
  margin-top: -450%;
}

.about button {
  position: absolute;
  margin-top: 67%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.right-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -50px;
}

.left-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -175%;
  margin-top: 50%;
  width: max-content;
}

.containers {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  top: 103%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.containers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.containers ul li {
  gap: 15px;
  padding: 30px;
  margin-left: -20px;
}

.containers ol {
  display: flex;
  flex-direction: row;
  gap: 40%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.containers ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 5%;
  padding-top: 3%;
  gap: 2px;
  text-align: center;
  font-style: normal;
}

.containers h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 20%;
  margin-top: -8%;
}

.container2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  top: 103%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.frameworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 10px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 40px;
}

.frameworks ul li {
  gap: 20px;
  padding: 50px;
  margin-left: -20px;
}

.frameworks ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3%;
  gap: 10%;
  text-align: center;
  margin-left: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: -20%;
  width: 300px;
  margin-bottom: 5%;
}

.frameworks ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 3%;
  gap: 5%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 3%;
}

.frameworks h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 20%;
  margin-top: -8%;
}

.container3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  top: 103%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skills ul li {
  gap: 20px;
  padding: 50px;
  margin-left: -30px;
}

.skills ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding: 3%;
  text-align: center;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10%;
  width: 320px;
}

.skills ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 3%;
  margin-left: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 10px;
}

.skills h3 {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 85%;
  margin-top: -8%;
}

.container4 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 170%;
  height: 200px;
  width: 327px;
  align-items: center;
  margin-top: 130px;
}

.container5 {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 190%;
  height: 90%;
  width: 327px;
}

form > * {
  font-family: 'Inter', sans-serif;
}

.container5 button {
  position: absolute;
  margin-top: 65%;
  display: inline-block;
}

.container5 #fname {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  margin-top: 50px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 80%;
  height: 35px;
  font-style: italic;
  padding: 8px;
}

.container5 #email {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 80%;
  height: 35px;
  font-style: italic;
  padding: 8px;
}

.container5 form {
  display: flex;
  flex-direction: column;
}

.container5 textarea {
  width: 80%;
  height: 70px;
  padding: 8px;
  border-color: #60c095;
}

.container5 img {
  height: 11.88px;
  gap: 20px;
  top: 10px;
  padding: 0;
  width: 20px;
  border-radius: 0%;
}

.container5 h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-top: 20%;
}

button:hover {
  background-color: red;
}

button:active {
  background-color: blue;
}

#underline {
  margin-top: 5%;
  width: 35%;
  background-color: black;
  align-self: center;
  position: relative;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .nav {
    visibility: hidden;
  }

  .fa {
    position: relative;
  }

  section {
    width: 100%;
  }

  .container {
    margin-top: 30%;
  }

  .headline p {
    align-self: center;
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .about p {
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: -250%;
  }

  .about button {
    margin-top: 40%;
  }

  .about-container {
    margin-top: -20%;
  }

  .languages img {
    width: 20%;
  }

}

@media only screen and (min-width: 768px) {
  html {
    overflow-x: hidden;
    width: 100%;
  }

  nav {
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    gap: 5px;
    margin-top: 10%;
  }

  .fa {
    position: relative;
    margin-top: 780%;
  }

  .works {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .headline {
    background-image: url(icons/Header-llustration-desktop.svg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 10%;
  }

  .headline p {
    align-self: center;
    position: relative;
    margin: 20%;
  }

  .contact1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  .containers img {
    margin-left: -150px;
    margin-top: -50px;
  }

  .frameworks img {
    margin-left: -40px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .skills img {
    margin-left: -40px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .contact1 ul li {
    width: 30%;
    height: 10%;
    border-radius: 0%;
  }

  .about-container img {
    width: 60%;
    background: none;
  }

  .contact1 ul li img {
    width: 12px;
  }

  .next {
    background-color: #fff;
    width: 100%;
  }

  .h2 {
    margin: 0;
  }

  .container1 {
    width: 30.5%;
    border: 1px solid #d0d9d4;
    top: 7%;
    margin: 5px;
    padding: 0;
    justify-content: center;
    align-content: center;
  }

  .containera {
    width: 30.5%;
  }

  .containerb {
    width: 30.5%;
  }

  .containerc {
    width: 30.5%;
  }

  .containerd {
    width: 30.5%;
  }

  .containere {
    width: 30.5%;
  }

  .text h2 {
    width: 90%;
    margin: 0;
  }

  .text ul {
    width: 100%;
    gap: 5px;
    justify-content: center;
  }

  .text ul li {
    width: fit-content;
    padding: 5px;
    gap: 3px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .about p {
    font-family: 'Inter', sans-serif;
    width: 80%;
    height: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    position: absolute;
    margin-top: -40%;
  }

  .about button {
    position: absolute;
    margin-top: 25%;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .left-corner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -180%;
    margin-top: 5%;
    width: max-content;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-top: 10%;
    border-radius: 8px;
    width: 100%;
  }

  .containers {
    width: 31%;
  }

  .container2 {
    width: 31%;
  }

  .container3 {
    width: 31%;
  }

  .containers ul {
    position: absolute;
    margin-left: 0;
  }

  .container4 {
    width: 50%;
    color: #172b4d;
    align-self: self-start;
    margin-left: 0%;
  }

  .container4 h2 {
    float: left;
  }

  .container5 {
    width: 50%;
    margin-left: 50%;
    margin-top: -35%;
    justify-content: left;
    align-items: left;
  }

  .container5 button {
    margin-top: 55%;
    margin-left: -35%;
  }

  .container5 h5 {
    visibility: hidden;
  }

  .footer {
    margin-left: -110%;
  }

  #t {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    margin-top: -20px;
  }

  .container7 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 10%;
  }

  .frameworks h3 {
    margin-top: -30px;
  }

  .frameworks ol {
    margin-top: -80px;
  }

  .skills h3 {
    margin-top: -30px;
  }

  .skills ol {
    margin-top: -80px;
  }

  hr {
    height: 2%;
    width: 150%;
    background-color: #172b4d;
    visibility: visible;
    position: relative;
    margin-left: -70%;
  }
}

  @media only screen and (min-width: 1024px) {
    html {
      overflow-x: hidden;
      width: 100%;
    }
  
    nav {
      visibility: hidden;
    }
  
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1%;
    }
  
    .nav ul li {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      gap: 5px;
    }
  
    .works {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .headline {
      background-image: url(icons/Header-llustration-desktop.svg);
      background-position: initial;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -10%;
      width: 100%;
    }
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      margin: 10%;
    }
  
    .headline p {
      align-self: center;
      position: absolute;
      margin-top: 23%;
    }
  
    .contact1 {
      position: relative;
      justify-content: center;
      align-items: center;
    }
  
    .containers img {
      margin-left: -150px;
      margin-top: -50px;
    }
  
    .frameworks img {
      margin-left: -40px;
      margin-top: 50px;
      margin-bottom: -10px;
    }
  
    .skills img {
      margin-left: -40px;
      margin-top: 50px;
      margin-bottom: -10px;
    }
  
    .contact1 ul li {
      width: 30%;
      height: 10%;
      border-radius: 0%;
      align-self: center;
    }
  
    .about-container img {
      width: 60%;
      background: none;
    }
  
    .contact1 ul li img {
      width: 12px;
      margin: 5px;
    }
  
    .next {
      background-color: #fff;
      width: 100%;
    }
  
    .h2 {
      margin: 0;
    }
  
    .container1 {
      width: 30%;
      border: 1px solid #d0d9d4;
      top: 7%;
      margin: 10px;
      padding: 0;
      justify-content: center;
      align-content: center;
    }
  
    .containera {
      width: 30%;
    }
  
    .containerb {
      width: 30%;
    }
  
    .containerc {
      width: 30%;
    }
  
    .containerd {
      width: 30%;
    }
  
    .containere {
      width: 30.9%;
    }
  
    .text ul {
      width: 100%;
      gap: 10px;
      justify-content: center;
    }
  
    .text ul li {
      width: fit-content;
      padding: 5px;
      gap: 7px;
    }
  
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
    }
  
    .about p {
      font-family: 'Inter', sans-serif;
      width: 80%;
      height: 50%;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
      color: #42526e;
      position: absolute;
      margin-top: -30%;
      align-self: center;
      align-content: center;
    }
  
    .about button {
      position: absolute;
      margin-top: 17%;
      transition-duration: 0.4s;
      cursor: pointer;
    }
  
    .left-corner {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: -185%;
      margin-top: 5%;
      width: max-content;
    }
  
    .about-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 10px;
      margin: 0;
      border-radius: 8px;
      width: 100%;
    }
  
    .containers {
      width: 31%;
    }
  
    .container2 {
      width: 31%;
    }
  
    .container3 {
      width: 31%;
    }
  
    .containers ul {
      position: absolute;
      margin-left: 0;
    }
  
    .container4 {
      width: 40%;
      color: #172b4d;
      align-self: self-start;
      margin-left: 7%;
    }
  
    .container4 h2 {
      float: left;
    }
  
    .container5 {
      width: 60%;
      margin-left: 50%;
      margin-top: -35%;
      justify-content: left;
      align-items: left;
    }
  
    .container5 button {
      margin-top: 35%;
      margin-left: -40%;
    }
  
    .container5 h5 {
      visibility: hidden;
    }
  
    .footer {
      margin-left: -100%;
    }
  
    #t {
      text-align: left;
      font-weight: 600;
      font-size: 22px;
      line-height: 42px;
      margin-top: -30px;
    }
  
    .container7 ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: absolute;
      width: 10%;
    }
  
    .frameworks h3 {
      margin-top: -30px;
    }
  
    .frameworks ol {
      margin-top: -90px;
    }
  
    .skills h3 {
      margin-top: -30px;
    }
  
    .skills ol {
      margin-top: -80px;
    }
  
    hr {
      height: 2%;
      width: 150%;
      background-color: #172b4d;
      visibility: visible;
      position: relative;
      margin-left: -70%;
    }
}
