@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  height: 6351px;
  align-items: center;
  width: 375px;
  margin: auto;
  background: #f7f7f9;
  position: relative;
}

nav {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  margin: top 0;
  width: 375px;
  position: sticky;
  padding: 0 24px;
  z-index: 2;
  background-color: #fff;
}

section {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 24px 144px 24px;
  gap: 5px;
  border-bottom-left-radius: 40px;
  top: 82.8px;
  left: calc(50% - (187.5px));
  overflow: hidden;
  background: #fff;
}

i {
  position: absolute;
  left: 85.67%;
  right: 16.67%;
  top: 29.17%;
}

ul {
  display: flex;
  justify-content: center;
  order: 3;
  gap: 15px;
  margin-left: 25%;
}

li {
  list-style-type: none;
  height: 32px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 30px;
  line-height: 108%;
  text-align: center;
  display: flex;
  color: #172b4d;
}

section p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
  margin-top: -10%;
}

section h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.green {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #36b37e;
  justify-content: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #172b4d;
  justify-content: center;
}

.headline {
  background-image: url(icons/background.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 40px / 2 + 0.5px);
  background: #fff;
  border-radius: 32px;
  top: 9.2%;
}

.works {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10%;
  row-gap: 20px;
  grid-template-rows: auto auto auto auto auto auto;
}

.works h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  order: inherit;
}

hr {
  width: 13%;
  height: 4px;
  text-align: center;
  position: absolute;
  order: inherit;
  background: #36b37e;
  border-radius: 24px;
  top: 110px;
}

.container1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.img-placeholder {
  background: #ebf0ee;
}

.text {
  border: 1px solid #d0d9d4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text ul {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 327px;
  align-content: stretch;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-left: 0;
}

.text ul li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  padding-top: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #3a4a42;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 122px;
  height: 40px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  border: none;
  top: 20px;
}

.containera {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.containerb {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.containerc {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.containerd {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.containere {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 70%;
  margin-right: 0%;
  bottom: 20%;
  justify-content: center;
  align-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
}

.about h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  order: inherit;
  margin-bottom: 10%;
}

.about p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  order: 1;
  text-align: center;
}

.about button {
  margin-left: -50%;
}

.right-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 45%;
  width: max-content;
  object-fit: fill;
}

.left-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -50%;
  margin-top: 83%;
  width: max-content;
}

.containers {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 113%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 316px;
  width: 327px;
  justify-content: center;
  align-items: center;
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.language ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50%;
  position: relative;
}

.language ol {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 20px;
  text-align: center;
  margin-left: -70px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-top: 10%;
}

.language ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 5%;
  padding-top: 3%;
  gap: 2px;
  text-align: center;
  font-style: normal;
}

.language h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 20%;
  margin-top: -8%;
}

.container2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 110%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 316px;
  width: 327px;
  align-items: center;
}

.frameworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 10px;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20%;
  position: relative;
  top: 5%;
  margin-left: 15px;
  gap: 10px;
}

.frameworks ol {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 327px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
}

.frameworks ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 5%;
  padding-top: 3%;
  gap: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.frameworks h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 20%;
  margin-top: -8%;
}

.container3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  top: 220%;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 316px;
  width: 327px;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: -20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 15px;
}

.skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30%;
  position: relative;
  top: 2%;
  margin-left: 15px;
  gap: 5px;
}

.skills ol {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 327px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
}

.skills ol li {
  width: fit-content;
  height: 30px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 5%;
  padding-top: 3%;
  gap: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.skills h3 {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #344563;
  margin-left: 85%;
  margin-top: -8%;
}

.container4 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 155%;
  height: 316px;
  width: 327px;
  align-items: center;
}

.container5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 210%;
  height: 316px;
  width: 327px;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  row-gap: 20px;
}

.containers button {
  margin-left: -25%;
}

.container5 text {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
  margin-top: 50px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
}

.container5 textarea {
  width: 200px;
  height: 100px;
}

.container6 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 280%;
  height: 316px;
  width: 327px;
  align-items: center;
  justify-content: center;
}

.container6 h5 {
  text-align: center;
}

.container6 ul li {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 2%;
  padding: 10%;
}

.container6 ul {
  margin-left: -10%;
  width: 50%;
}

@media (max-width: 400) {
  nav {
    width: 100%;
  }

  section {
    width: 100%;
  }
}
