@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f9;
  position: relative;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
}

nav {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: right;
  margin: top 0;
  width: 100%;
  padding: 0 24px;
  z-index: 2;
  background-color: #fff;
}

.nav {
  display: none;
}

section {
  background-color: #fff;
  padding: 0%;
  margin: 0%;
  width: 100%;
}

section > * {
  font-family: 'Inter', sans-serif;
}

i {
  position: relative;
  left: 85.67%;
  right: 16.67%;
  top: 29.17%;
}

ul {
  display: flex;
  justify-content: center;
  order: 3;
  gap: 7px;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 30px;
  line-height: 108%;
  text-align: center;
  display: flex;
  color: #172b4d;
}

section p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

section h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.green {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #36b37e;
  justify-content: center;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  display: flex;
  color: #172b4d;
  justify-content: center;
  align-self: center;
  margin-top: 15%;
  width: 100%;
}

.headline {
  background-image: url(icons/background.png);
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  margin-top: 10%;
  position: relative;
  width: 5%;
  height: 5%;
  left: calc(50% - 40px / 2 + 0.5px);
  background: #fff;
  border-radius: 32px;
}

.next img {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  align-self: center;
  width: 10%;
  height: 10%;
  margin-left: 45%;
  left: 0;
}

#above-work {
  margin: 0;
  width: 15%;
  border: 2px solid #36b37e;
  align-self: center;
  margin-left: -5%;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 15px;
  width: 30px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: 40%;
  background: none;
  color: #505f79;
  padding-bottom: 55%;
}

/* Add a hover effect */
.fa:hover {
  opacity: 0.7;
}

/* Twitter */
.fa-twitter {
  background: none;
  color: #505f79;
}

.fa-medium {
  background: none;
  color: #505f79;
}

.contact img {
  height: 12.88px;
  padding: 20px;
  width: 10px;
  border-radius: 0%;
  margin: 25px;
}

.works {
  margin: 0;
  padding: 0;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 10%;
  grid-template-rows: auto auto auto auto auto auto;
}

.works h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  order: inherit;
  margin-left: 10%;
}

hr {
  width: 13%;
  height: 4px;
  text-align: center;
  position: relative;
  order: inherit;
  background: #36b37e;
  border-radius: 24px;
  top: 1px;
}

.container1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.img-placeholder {
  background: #ebf0ee;
}

.text {
  border: 1px solid #d0d9d4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text ul {
  display: flex;
  flex-direction: row;
  padding: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-left: 5%;
}

.text ul li {
  height: 30px;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  padding-top: 3%;
  gap: 5px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  color: #3a4a42;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  position: relative;
  width: 122px;
  height: 40px;
  left: calc(50% - 122px / 2 + 0.5px);
  bottom: 8px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  border: none;
  top: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
}

.containera {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerb {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerc {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containerd {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.containere {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50% 50%;
  width: 327px;
  border: 1px solid #d0d9d4;
  height: 474px;
  top: 7%;
  margin: 10px;
  padding: 0;
  justify-content: center;
  align-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about h2 {
  width: 85%;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-direction: row;
  justify-content: center;
  margin-top: 1px;
}

.about p {
  font-family: 'Inter', sans-serif;
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: #42526e;
  position: absolute;
  top: 3%;
  margin: 5%;
}

.about button {
  position: relative;
  margin-top: 50%;
  transition-duration: 0.4s;
  cursor: pointer;
  left: 0;
  margin-left: 0;
  bottom: 0;
  top: 0;
}

.right-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -50px;
}

.left-corner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -175%;
  margin-top: 1%;
  width: max-content;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 20%;
  position: relative;
  padding: 0;
}

.containers {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  padding: 0;
  overflow-y: hidden;
}

.containers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.containers ul li {
  gap: 10%;
  padding: 0;
  height: 33.33%;
  width: 100%;
}

.containers ol {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.containers ol li {
  height: 30px;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 1%;
  text-align: center;
  font-style: normal;
  gap: inherit;
}

.containers h3 {
  display: contents;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #344563;
  width: 100%;
  padding: 0;
  height: 100%;
  text-align: center;
}

.containers img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  background: none;
  border-radius: 32px;
}

.container2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  padding: 0;
  overflow-y: hidden;
}

.frameworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.frameworks ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.frameworks ul li {
  gap: 10%;
  padding: 0;
  height: 33.33%;
  width: 100%;
}

.frameworks img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  background: none;
  border-radius: 32px;
}

.frameworks ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.frameworks ol li {
  height: 30px;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 1%;
  text-align: center;
  font-style: normal;
  gap: inherit;
}

.frameworks h3 {
  display: contents;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #344563;
  width: 100%;
  padding: 0;
  height: 100%;
  text-align: center;
}

.container3 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  height: 280px;
  width: 327px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  padding: 0;
  overflow-y: hidden;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.skills ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.skills ul li {
  gap: 10%;
  padding: 0;
  height: 33.33%;
  width: 100%;
}

.skills img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-top: 0;
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  background: none;
  border-radius: 32px;
}

.skills ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.skills ol li {
  height: 30px;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
  border-radius: 8px;
  padding: 1%;
  text-align: center;
  font-style: normal;
  gap: inherit;
}

.skills h3 {
  display: contents;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #344563;
  width: 100%;
  padding: 0;
  height: 100%;
  text-align: center;
}

.container4 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: fit-content;
  align-items: center;
  margin: 0;
  padding: 0;
}

.container4 h2 {
  width: 80%;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  padding: 0;
  color: #172b4d;
  margin: 0;
}

.container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  margin-left: 0;
  overflow: hidden;
}

form > * {
  font-family: 'Inter', sans-serif;
}

.container5 button {
  position: relative;
  align-self: center;
  margin: 0;
  width: 30%;
  height: 40px;
  left: -30%;
  margin-top: 10px;
  top: 0;
}

.container5 #fname {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
  margin-top: 5%;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 90%;
  height: auto;
  font-style: italic;
  padding: 8px;
}

.container5 #email {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  background: #fff;
  width: 90%;
  height: 35px;
  font-style: italic;
  padding: 8px;
}

.container5 form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-y: hidden;
}

.container5 textarea {
  width: 90%;
  height: 70px;
  padding: 8px;
  border-color: #60c095;
}

.container5 img {
  height: 11.88px;
  gap: 20px;
  top: 10px;
  padding: 0;
  width: 20px;
  border-radius: 0%;
}

.container5 h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0;
}

button:hover {
  background-color: red;
}

button:active {
  background-color: blue;
}

#for-desktop {
  visibility: hidden;
}

#underline {
  margin-top: 5%;
  width: 35%;
  background-color: black;
  align-self: center;
  position: relative;
  border-radius: 2px;
}

@media only screen and (min-width: 600px) {
  .containera {
    width: 95%;
  }

  .containerb {
    width: 95%;
  }

  .containerc {
    width: 95%;
  }

  .containerd {
    width: 95%;
  }

  .containere {
    width: 95%;
  }

  .about p {
    align-self: center;
    top: 70%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about button {
    margin-top: 20%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    overflow-x: hidden;
    width: 100%;
    overflow-y: hidden;
  }

  nav {
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  h1 {
    margin-top: 10%;
  }

  .nav ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    gap: 5px;
    margin-top: 10%;
  }

  #break {
    visibility: hidden;
  }

  .fa {
    position: relative;
    margin-top: 1000%;
  }

  #above-work {
    visibility: hidden;
  }

  .works {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1%;
  }

  .headline {
    background-image: url(icons/Header-llustration-desktop.svg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: -10%;
    padding: 0;
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 10%;
  }

  .headline p {
    font-size: 14px;
    font-weight: 300px;
    line-height: 20px;
    width: 70%;
    align-self: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 12%;
    margin-top: 20%;
  }

  .containers {
    width: 33.33%;
  }

  .container2 {
    width: 33.33%;
  }

  .container3 {
    width: 33.33%;
  }

  .contact1 {
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  .containers img {
    margin-left: -100px;
    margin-top: -30px;
  }

  .frameworks img {
    margin-left: -40px;
    margin-top: -10px;
  }

  .skills img {
    margin-left: -40px;
    margin-top: 20px;
  }

  .contact1 ul li {
    width: 30%;
    height: 10%;
    border-radius: 0%;
  }

  .about-container img {
    width: 60%;
    background: none;
  }

  .contact1 ul li img {
    width: 12px;
  }

  .next {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .h2 {
    margin: 0;
  }

  .container1 {
    width: 30.5%;
    border: 1px solid #d0d9d4;
    top: 7%;
    margin: 5px;
    padding: 0;
    justify-content: center;
    align-content: center;
  }

  .containera {
    width: 30.5%;
  }

  .containerb {
    width: 30.5%;
  }

  .containerc {
    width: 30.5%;
  }

  .containerd {
    width: 30.5%;
  }

  .containere {
    width: 30.5%;
  }

  .text h2 {
    width: 90%;
    margin: 0;
  }

  .text ul {
    width: 100%;
    gap: 5px;
    justify-content: center;
  }

  .text ul li {
    width: fit-content;
    padding: 5px;
    padding-left: 0;
    gap: 3px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow-y: hidden;
  }

  .about p {
    margin-top: 10%;
  }

  .about button {
    margin-top: 10%;
  }

  .left-corner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -180%;
    margin-top: 1%;
    width: max-content;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
    margin: 0;
    border-radius: 8px;
    width: 100%;
    padding-top: 0;
    top: 0;
    overflow-y: hidden;
  }

  #hidden {
    display: none;
  }

  .skills ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-left: 15%;
    gap: 3px;
    margin-bottom: 20%;
  }

  .container4 {
    width: 50%;
    color: #172b4d;
    align-self: self-start;
    margin: 0;
    padding-top: 5%;
  }

  .container5 {
    width: 50%;
    justify-content: left;
    align-items: left;
    margin-top: -20%;
    margin-left: 40%;
  }

  .container5 h5 {
    visibility: hidden;
  }

  #t {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    margin-top: -20px;
  }

  .footer {
    margin-top: -40%;
  }

  .container7 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 10%;
  }

  #for-desktop {
    height: 2%;
    width: 150%;
    background-color: #172b4d;
    visibility: visible;
    position: relative;
    margin-left: 0;
    margin-top: -5%;
  }
}

@media only screen and (min-width: 992px) {
  .headline p {
    font-size: 20px;
    font-weight: 300px;
    line-height: 20px;
    width: 60%;
    align-self: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 12%;
    margin-top: 18%;
  }

  .fa {
    margin-top: 1150%;
  }

  .about p {
    padding: 0;
    top: 0;
    margin-top: 10%;
  }

  .skills ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 0;
    gap: 5%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    overflow-x: hidden;
    width: 100%;
  }

  nav {
    visibility: hidden;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }

  .nav ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    gap: 5px;
  }

  .fa {
    margin-top: 1050%;
  }

  .headline {
    background-image: url(icons/Header-llustration-desktop.svg);
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 10%;
  }

  .headline p {
    font-weight: 400;
    font-size: 20px;
    align-self: center;
    position: absolute;
    margin-top: 25%;
    width: 60%;
  }

  .contact1 {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .next {
    background-color: #fff;
    width: 100%;
  }

  .containera {
    width: 30%;
  }

  .containerb {
    width: 30%;
  }

  .containerc {
    width: 30%;
  }

  .containerd {
    width: 30%;
  }

  .containere {
    width: 30.9%;
  }

  .text ul {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }

  .text ul li {
    width: fit-content;
    padding: 5px;
    gap: 7px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .about p {
    font-family: 'Inter', sans-serif;
    width: 95%;
    height: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    position: absolute;
    margin-top: 10%;
    align-self: center;
    top: 0;
  }

  .about button {
    position: relative;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .left-corner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: -185%;
    margin-top: 5%;
    width: max-content;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    margin: 0;
    border-radius: 8px;
    width: 150%;
  }

  .containers {
    width: 32%;
  }

  .container2 {
    width: 32%;
  }

  .container3 {
    width: 32%;
  }

  .container4 {
    width: 50%;
    color: #172b4d;
    align-self: self-start;
    margin: 0;
    padding-top: 5%;
  }

  .container5 {
    width: 50%;
    justify-content: left;
    align-items: left;
    margin-top: -20%;
    margin-left: 40%;
  }

  .container5 h5 {
    visibility: hidden;
  }

  #t {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
    margin-top: -20px;
  }

  .footer {
    margin-top: -30%;
  }

  .container7 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    width: 10%;
  }

  #for-desktop {
    height: 2%;
    width: 150%;
    background-color: #172b4d;
    visibility: visible;
    position: relative;
    margin-left: 0;
    margin-top: -5%;
  }
}
